@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
	font-family: "Press Start 2P", system-ui;
	background-image: url("./assets/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.cardContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
	user-select: none;
}

img {
	border-radius: 5px;
	user-select: none;
	-webkit-user-drag: none;
}
img:hover {
	transform: scale(1.1);
	cursor: pointer;
	transition: 0.3s;
}
