@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
	font-family: "Press Start 2P", system-ui;
	background-image: url("./assets/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100dvh;
}
.cardContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
	user-select: none;
}

.pokeCard {
	border-radius: 5px;
	user-select: none;
	-webkit-user-drag: none;
}
.pokeCard:hover {
	transform: scale(1.1);
	cursor: pointer;
	transition: 0.3s;
}

.loading {
	width: 256px;
	height: auto;
	animation: logo-spin 1.25s infinite linear;
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
